RewriteEngine On
RewriteBase /africa/

# Don't touch adminpanel requests
RewriteRule ^adminpanel(/.*)?$ - [L]

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /africa/index.html [L]
